<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.xp.blog.mapper.CommentMapper">

    <insert id="addComment" >

        insert into t_comment ( nickname, email) values



        <foreach collection="list" item= "item" index ="index" separator=",">
            (#{item,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
        </foreach >





    </insert>
</mapper>